<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/ressources/css/style.css">
        <link rel="stylesheet" href="/ressources/css/bulma.css">

        <script src="/ressources/js/axios.js"></script>
    </head>
    <body>
        <section id="vue-engine" class="section">
            <div class="container">
                <h1 class="title">
                    Mes recettes.
                </h1>
                <p class="subtitle">
                    My first website with <strong>Bulma</strong>!
                </p>
                <div v-if="notification.addRecipe.open" class="notification" v-bind:class="notification.addRecipe.type">
                  <button class="delete" v-on:click="close_event"></button>
                  <p id="notification-message">{{ notification.addRecipe.message }}</p>
                </div>
                <div class="box content">
                    <p class="title is-4">Ajouter une recette</p>
                    <div class="columns">
                        <div class="column is-3">
                            <p class="title is-5">Nom de votre recette</p>
                            <div class="field">
                                <label class="label">Titre</label>
                                <div class="control">
                                    <input class="input" type="text" v-model="recipeTitle" placeholder="Text input">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Description</label>
                                <div class="control">
                                    <textarea class="textarea" v-model="recipeDescription" placeholder="Textarea"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <p class="title is-5">Ingrédients</p>
                            <label class="label">Ajouter un ingrédient</label>
                            <div class="field has-addons">
                                <div class="control">
                                    <input class="input" type="text" v-model="ingredient" placeholder="Nom de votre ingrédient">
                                </div>
                                <div class="control">
                                    <a class="button is-info" v-on:click="addIngredient">
                                        Ajouter
                                    </a>
                                </div>
                            </div>
                            <div class="scroll" style="height: 150px; overflow-y: auto;">
                                <table class="table">
                                    <tbody>
                                        <tr v-for="ingredient in ingredients" >
                                            <td>{{ ingredient.title }}</td>
                                            <td><a class="delete" v-on:click="removeIngredient(ingredient.id)"></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="column">
                            <p class="title is-5">Étapes</p>
                            <label class="label">Ajouter une étape</label>
                            <div class="field has-addons">
                                <div class="control">
                                    <input class="input" type="text" v-model="step" placeholder="Nom de votre ingrédient">
                                </div>
                                <div class="control">
                                    <a class="button is-info" v-on:click="addStep">
                                        Ajouter
                                    </a>
                                </div>
                            </div>
                            <div class="scroll" style="height: 150px; overflow-y: auto;">
                                <table class="table">
                                    <tbody>
                                        <tr v-for="step in steps" >
                                            <td>{{ step.title }}</td>
                                            <td><a class="delete" v-on:click="removeStep(step.id)"></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="column is-2">
                        <p class="title is-5">Informations</p>
                            <div class="field">
                                <label class="label">Temps de préparation</label>
                                <div class="control">
                                    <input class="input" type="number" v-model="recipePreparationTime">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Nombre de personnes</label>
                                <div class="control">
                                    <input class="input" type="number" v-model="recipeServingAmount">
                                </div>
                            </div>
                                <div class="field-body" style="">
                                    <div class="field">
                                      <div class="control">
                                        <button v-if="buttonDefault" v-on:click="addRecipe" class="button is-primary">
                                          Enregistrer ma recette
                                        </button>
                                        <button v-if="buttonUpdate" v-on:click="editRecipe(recipe.id)" class="button is-info">
                                          Modifier ma recette
                                        </button>
                                        <button v-if="buttonUpdate" v-on:click="cancelled" class="button">
                                          Annuler
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                             </div>

                    </div>
                </div>
                <div v-if="notification.deleteRecipe.open" class="notification" v-bind:class="notification.deleteRecipe.type">
                  <button class="delete" v-on:click="close_event2"></button>
                  <p id="notification-message">{{ notification.deleteRecipe.message }}</p>
                </div>
                <div class="box content">
                    <p class="title is-5">Liste de mes recettes</p>
                    <div class="tile is-ancestor">
                        <div class="tile is-parent">
                            <div class="tile is-3 is-child">
                                <aside class="menu">
                                    <p class="menu-label">
                                        Ma liste
                                    </p>
                                    <p v-if="recipes.length == 0">{{ message }}</p>
                                    <ul class="menu-list">
                                        <li v-for="rec in recipes" :key="rec.id" v-on:click="getRecipe(rec.id)">{{ rec.title }} (click)</li>
                                    </ul>
                                </aside>
                            </div>
                            <div class="box" style="width: 100%;">
                                <div class="" v-if="recipe">
                                    <div class="columns is-multiline">
                                         <div class="column">
                                            <p class="title is-3">{{ recipe.title }}</p>
                                        </div>
                                        <div class="column is-one-quarter">
                                            <!-- {{ recipe.created_at|formatDate }} -->
                                            <a class="button" v-on:click="updateRecipe(recipe.id)">Modifier</a>
                                            <a class="button" v-on:click="deleteRecipe(recipe.id)">Supprimer</a>
                                        </div>
                                    </div>
                                        <p>{{ recipe.description }}</p>
                                    <div class="columns">
                                        <div class="column">
                                            <p class="subtitle is-5 has-text-centered">Ingrédients :</p>
                                            <ul>
                                                <li v-for="_ingredient in recipe.ingredients" :key="_ingredient.key">{{ _ingredient.title }}</li>
                                            </ul>
                                        </div>
                                        <div class="column">
                                            <p class="subtitle is-5 has-text-centered">Étapes :</p>
                                            <ul>
                                                <li v-for="_step in recipe.steps" :key="_step.key">{{ _step.title }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div v-else>IL N'Y A RIEN !</div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script src="/ressources/js/vue.js"></script>
        <script src="/ressources/js/script.js"></script>
    </body>
</html>